.background{
    background-image: url("../background.PNG");
    filter: blur(10px);
    -webkit-filter: blur(10px);
    height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5b899169;
}
#headshot{
    width:25%;
    height: auto;
    margin:5px;
}
.jumbotron{
    background-color: #124f67;
}
.container{
    margin-top: 2%;
    left: 0;
    right: 0;
    z-index: 9999;
    position: fixed;
}

.carousel-caption{
    background-color:#b7c6b5b4;
    border-radius: 25px;
}
.carousel-item{

}
.carousel_pic{
    border-radius: 25px;
}
li:hover{

}