.background{
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: url('../background.PNG');
    background-size:cover;
    width: 110%;
    height: 110%;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

#headshot{
    width:25%;
    height: auto;
    margin:5px;
}
.jumbotron{
    background-color:#124f67;
    color: #f5f7e2;
}
.container{
    padding-top: 2%;
    z-index: 9999;
}

.carousel-caption{
    background-color:#b7c6b5b4;
    border-radius: 25px;
}
.carousel_pic{
    border-radius: 25px;
}

.list-group-item{
    background-color: #124f67;
    
}
.list-group-item:hover{
    background-color: #5b8991;
}